footer {
  .desktop-footer-container {
    .dark-content {
      background-color: #141214;

      .content-wrapper {
        .section-content {
          color: #fff;
          padding: 80px 270px 116px;

          @media screen {
            padding: 0 70px 70px;
          }

          .row1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 98px;

            @media #{$lt-md} {
              flex-direction: column;
            }

            img {
              @media #{$lt-md} {
                width: 88px;
                height: auto;
              }
            }

            .footer-links {
              padding-top: 30px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 90px;

              @media #{$lt-md} {
                flex-wrap: wrap;
                gap: 70px;
              }

              .footer-links-container {
                display: flex;
                flex-direction: column;
                gap: 21px;

                text-align: left;
                font-size: 16px;
                letter-spacing: 0.34px;

                @media #{$lt-md} {
                  font-size: 8px;
                }

                .header {
                  text-align: left;
                  font-weight: bold;
                  font-size: 22px;
                  letter-spacing: 0.46px;
                  color: #FFFFFF;
                  opacity: 1;

                  @media #{$lt-md} {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          .row2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 28px;

            text-align: left;
            font-size: 16px;
            line-height: 40px;
            letter-spacing: 0.34px;
            opacity: 1;

            @media #{$lt-md} {
              flex-direction: column;
              font-size: 11px;
              line-height: 14px;
            }

            .terms-and-policy {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 46px;

              @media #{$lt-md} {
                line-height: 40px;
              }
            }
          }

          .row3 {
            text-align: center;
            font-size: 11px;
            letter-spacing: 0.25px;
          }
        }
      }
    }
  }
}