header {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 138px;
    color: #333333;

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 75px;
      font-size: 20px;

      a,
      a:visited {
        text-decoration: none;
        color: #333;
      }

      .login-button {
        width: 132px;
        height: 68px;
        border-radius: 40px;
        background-color: #221e1e;
        color: #fff !important;
        line-height: 68px;
        text-align: center;

        &:after {
          content: "Login";
        }
      }

      .support-button {
        width: 150px;
        height: 68px;
        border-radius: 40px;
        background-color: #FFFC30;
        color: #000 !important;
        line-height: 68px;
        text-align: center;
        font-weight: bold;

        &:after {
          content: "Support";
        }
      }
    }
  }
}