main.homepage {
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 1260px, #E4E4E4 100%) 0% 0% no-repeat padding-box;
  opacity: 1;

  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      position: relative;

      .section-content {
        padding: 5px 0 0px 123px;

        .grid {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          >div:nth-child(1) {
            flex: 0 0 46%;
          }
        }

        .text1 {
          text-align: left;
          font-size: 84px;
          line-height: 80px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #000;
          opacity: 1;
          width: 589px;
        }

        .text2 {
          width: 731px;
          text-align: left;
          font-size: 30px;
          line-height: 38px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #000;
          opacity: 1;
          margin-top: 13px;
        }

        .text3 {
          font-size: 30px;
          line-height: 38px;
          margin-top: 150px;
        }
      }

      .button1 {
        position: absolute;
        bottom: -40px;
        left: calc(50% - 38px);
        cursor: pointer;
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .section-content {
        .text1 {
          text-align: center;
          font-size: 36px;
          line-height: 44px;
          font-weight: bold;
          letter-spacing: 0.29px;
          color: #212427;
          margin-top: 118px;
        }

        .text2 {
          text-align: center;
          font-size: 36px;
          line-height: 44px;
          letter-spacing: 0.29px;
          color: #212427;
          margin-bottom: 208px;
        }

        .gradient-container {
          background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;
          margin: 0 58px;
          // padding: 0 132px 0 111px;

          .grid {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0 132px 0 111px;

            div:first-child {
              flex: 0 0 60%;

              img {
                width: 768px;
                height: auto;
              }
            }

            div:nth-child(2) {
              flex: 0 0 40%;

              .gradient-header {
                text-align: left;
                font-size: 120px;
                line-height: 120px;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                margin-top: 27px;
              }

              .gradient-text {
                text-align: left;
                font-size: 40px;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
              }

              .owl-carowsel {
                width: 100%;
              }
            }
          }

          .gradient-background {
            min-height: 1105px;
            background: rgb(245,152,169);
            background: linear-gradient(0deg, rgba(245,152,169,1) 30%, rgba(236,201,181,1) 55%, rgba(249,249,249,1) 100%);
          }
        }
      }
    }
  }

  section.section3 {
    background-color: #000;

    .content-wrapper {
      .section-content {
        padding-top: 444px;
        padding-bottom: 70px;

        .text1,
        .text3 {
          text-align: center;
          font-weight: bold;
          font-size: 72px;
          line-height: 74px;
          letter-spacing: 0px;
          color: #FFFFFF;
        }

        .text2 {
          text-align: center;
          font-weight: 600;
          font-size: 333px;
          line-height: 342px;
          letter-spacing: -6.66px;
          color: #FFFF15;
        }

        .text4 {
          text-align: center;
          font-weight: 600;
          font-size: 267px;
          line-height: 275px;
          letter-spacing: -5.34px;
          color: #FFFF00;
          opacity: 1;
          margin-bottom: 117px;
        }

        .text5 {
          background: #2B2A2B 0% 0% no-repeat padding-box;
          border-radius: 183px;
          opacity: 1;
          width: 1000px;
          padding: 45px 83px;
          margin: 0 auto;

          text-align: left;
          font-size: 30px;
          line-height: 38px;
          letter-spacing: 0.63px;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 136px;
        }

        .text6 {
          margin: 0 auto;
          text-align: center;
          font-weight: 500;
          font-size: 70px;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          width: 748px;
          margin-bottom: 25px;
        }

        .text7 {
          text-align: center;
          font-weight: bold;
          font-size: 40px;
          line-height: 60px;
          letter-spacing: 0px;
          color: #FFFD38;
          opacity: 1;
          margin-bottom: 152px;
        }

        .grid-container {
          padding: 0 135px;
          color: #fff;
          display: inline-grid;
          grid-template-columns: auto auto auto;
          column-gap: 128px;
          row-gap: 80px;
          margin-bottom: 170px;

          >div:hover {
            .header {
              text-align: left;
              font-weight: 900;
              font-size: 180px;
              line-height: 200px;
              letter-spacing: 0px;
              color: #FFFF15;
              opacity: 1;
              transition: all 0.5s;
            }
          }

          .header {
            text-align: left;
            font-weight: 900;
            font-size: 90px;
            line-height: 123px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            transition: all 0.5s;
          }

          .text {
            text-align: left;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0px;
            color: #FFFFFF;
          }
        }

        .grid-container2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 100px;

          padding: 0 127px;
          margin: 0 auto;

          >div:first-child {
            flex: 0 0 1020px;
            display: flex;
            flex-direction: column;
            gap: 50px;
          }

          .header {
            text-align: left;
            font-weight: bold;
            font-size: 89px;
            line-height: 100px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }

          .text {
            text-align: left;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0.24px;
            color: #FFFFFF;
          }

          .paybilt-group-image {
            width: 100%;
            height: auto;
          }
        }

        .text8,
        .text9 {
          position: relative;
          text-align: center;
          font-weight: bold;
          font-size: 125px;
          line-height: 149px;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          margin: 0 auto 50px;
        }

        .text8 {
          width: 740px;

          img {
            position: absolute;
            right: 0;
            top: -20px;
            width: 110px;
            height: auto;
          }
        }

        .text9 {
          width: 1030px;
          margin-top: 70px;

          img {
            position: absolute;
            height: auto;
            width: 115px;
            bottom: -50px;
            left: 0;
          }
        }

        .grid-container3,
        .grid-container4 {
          width: 670px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 150px;
          margin: 0 auto;
          color: #fff;

          .logo {
            height: 84px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  section.section4 {
    background-color: #fff;
    .content-wrapper {
      .section-content {
        padding-bottom: 70px;

        .grid-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 125px;

          >div {
            flex: 0 0 calc(20% - 1px);
            display: flex;
            flex-direction: column;
            gap: 32px;
            justify-content: center;
            align-items: center;
            height: 272px;
            border-left: 1px solid #707070;
            border-bottom: 1px solid #707070;

            >div:nth-child(2) {
              text-align: center;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0px;
              color: #2B2A2B;
              opacity: 1;
            }
          }

          >div:last-child {
            flex: 0 0 calc(20% - 2px);
            border-right: 1px solid #707070;
          }
        }

        .text3 {
          width: 520px;
          margin-left: auto;
          margin-right: 192px;

          text-align: left;
          font-size: 26px;
          line-height: 33px;
          letter-spacing: -0.78px;
          color: #000000;
        }
      }
    }
  }
}
