main.homepage {
  // background: transparent linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 1260px, #E4E4E4 100%) 0% 0% no-repeat padding-box;
  // opacity: 1;

  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      position: relative;

      // .clouds {
      //   position: absolute;
      //   width: 1920px;
      //   height: auto;
      //   bottom: 0;
      //   right: 0;
      // }

      .section-content {
        padding: 0 0 0 123px;
        overflow: clip;
        overflow-clip-margin: 0px;

        .grid {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          >div:nth-child(1) {
            flex: 0 0 46%;
          }

          >div:nth-child(2) {
            position: relative;

            .particles {
              position: absolute;
              top: -100px;
              right: -90px;
              z-index: 1;
            }

            .girl {
              position: relative;
              z-index: 2;
              right: 60px;
              height: 906px;
              width: auto;
            }
          }
        }

        .text1 {
          position: relative;
          text-align: left;
          font-size: 100px;
          line-height: 93px;
          letter-spacing: -4px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #000;
          opacity: 1;
          width: 850px;

          img {
            width: 795px;
            height: auto;
            position: absolute;
            left: -90px;
            top: -184px;
          }
        }

        .text2 {
          width: 529px;
          text-align: left;
          font-size: 30px;
          line-height: 38px;

          font-size: 24px;
          line-height: 31px;
          letter-spacing: -1.2px;
          color: #212427;

          opacity: 1;
          margin-top: 50px;
        }
      }

      .button1 {
        position: absolute;
        bottom: -40px;
        left: calc(50% - 38px);
        cursor: pointer;
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .section-content {
        position: relative;
        z-index: 1;

        .text1 {
          text-align: center;
          font-size: 36px;
          line-height: 44px;
          font-weight: bold;
          letter-spacing: 0.29px;
          color: #212427;
          margin-top: 118px;
        }

        .text2 {
          text-align: center;
          font-size: 36px;
          line-height: 44px;
          letter-spacing: 0.29px;
          color: #212427;
          margin-bottom: 78px;
        }

        .gradient-container {
          background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;
          margin: 194px 58px 60px;
          padding: 60px 0 0;
          position: relative;

          .grid {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0 132px 0 111px;
            position: relative;
            z-index: 1;

            div:first-child {
              flex: 0 0 60%;

              img {
                width: 828px;
                height: auto;
              }
            }

            div:nth-child(2) {
              flex: 0 0 40%;

              .text1 {
                text-align: left;
                font-size: 130px;
                line-height: 160px;
                letter-spacing: -5.2px;
                color: #000000;
                opacity: 1;
              }

              .text2 {
                text-align: left;
                font-size: 40px;
                line-height: 32px;
                letter-spacing: 0px;
                color: #000000;
              }

              .slide {
                .slide-header {
                  text-align: left;
                  font-weight: bold;
                  font-size: 52px;
                  line-height: 67px;
                  letter-spacing: 0px;
                  color: #332D2D;
                }

                .slide-content {
                  text-align: left;
                  font-size: 24px;
                  line-height: 31px;
                  letter-spacing: 0.5px;
                  color: #332D2D;
                  margin-bottom: 58px;
                }

                .slide-button {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  span:nth-child(1) {
                    text-align: center;
                    font-weight: bold;
                    font-size: 36px;
                    letter-spacing: 0px;
                    color: #332D2D;

                    background: #FFFF15 0% 0% no-repeat padding-box;
                    border-radius: 52px;
                    width: 285px;
                    height: 84px;
                    display: inline-block;
                    line-height: 84px;
                  }

                  span:nth-child(2) {
                    display: inline-block;
                    background: #FFFF15 0% 0% no-repeat padding-box;
                    border-radius: 50%;
                    height: 82px;
                    width: 82px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    img {
                      width: 43px;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
        }

        .gradient-background {
          min-height: 985px;
          background: #f598a9;
          background: linear-gradient(0deg, #f598a9 30%, #ecc9b5 55%, #fcfcfc 100%);
          text-align: center;
          width: 100%;
          left: 0;
          top: 680px;
          z-index: 0;

          .cloud-up {
            position: relative;
            top: 340px;
          }

          .cloud-container {
            position: relative;

            .cloud-left,
            .cloud-right {
              position: absolute;
            }

            .cloud-left {
              left: -180px;
              top: 120px;
            }

            .cloud-right {
              right: -360;
              top: 20px;
            }
          }
        }
      }
    }
  }

  section.section3 {
    background-color: #000;
    position: relative;
    z-index: 1;

    .content-wrapper {
      .section-content {
        padding: 210px 0 320px;

        .girl-walk {
          position: absolute;
          left: calc(50% - 357px);
          top: -1050px;
          width: 944px;
          height: auto;
        }

        .amount-image {
          position: absolute;
          top: -210px;
          left: calc(50% - 477px);
          width: 954px;
          height: auto;
        }

        .overnight {
          width: 853px;
          height: auto;
          position: absolute;
          left: calc(50% - (853px/2));
        }

        .text1,
        .text3 {
          text-align: center;
          font-weight: bold;
          font-size: 72px;
          line-height: 74px;
          letter-spacing: 0px;
          color: #FFFFFF;
        }

        .text2 {
          text-align: center;
          font-weight: 600;
          font-size: 333px;
          line-height: 342px;
          letter-spacing: -6.66px;
          color: #FFFF15;
        }

        .text4 {
          text-align: center;
          font-weight: 600;
          font-size: 267px;
          line-height: 275px;
          letter-spacing: -5.34px;
          color: #FFFF00;
          opacity: 1;
          margin-bottom: 117px;
        }

        .text5 {
          background: #2B2A2B 0% 0% no-repeat padding-box;
          border-radius: 183px;
          opacity: 1;
          width: 1000px;
          padding: 45px 83px;
          margin: 0 auto;

          text-align: left;
          font-size: 30px;
          line-height: 38px;
          letter-spacing: 0.63px;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 136px;
        }

        .text6 {
          margin: 0 auto;
          text-align: center;
          font-weight: 500;
          font-size: 70px;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          width: 748px;
          margin-bottom: 25px;
        }

        .text7 {
          text-align: center;
          font-weight: bold;
          font-size: 40px;
          line-height: 60px;
          letter-spacing: 0px;
          color: #FFFD38;
          opacity: 1;
          margin-bottom: 152px;
        }

        .grid-container {
          padding: 0 135px;
          color: #fff;
          display: inline-grid;
          grid-template-columns: auto auto auto;
          column-gap: 128px;
          row-gap: 80px;
          margin-bottom: 170px;

          >div:hover {
            .header {
              text-align: left;
              font-weight: 900;
              font-size: 180px;
              line-height: 200px;
              letter-spacing: 0px;
              color: #FFFF15;
              opacity: 1;
              transition: all 0.5s;
            }
          }

          .header {
            text-align: left;
            font-weight: 900;
            font-size: 90px;
            line-height: 123px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            transition: all 0.5s;
          }

          .text {
            text-align: left;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0px;
            color: #FFFFFF;
          }
        }

        .grid-container2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 100px;

          padding: 0 127px;
          margin: 0 auto;

          >div:first-child {
            flex: 0 0 1020px;
            display: flex;
            flex-direction: column;
            gap: 50px;
          }

          .header {
            text-align: left;
            font-weight: bold;
            font-size: 89px;
            line-height: 100px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }

          .text {
            text-align: left;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0.24px;
            color: #FFFFFF;
          }

          .paybilt-group-image {
            width: 100%;
            height: auto;
          }
        }

        .text8,
        .text9 {
          position: relative;
          text-align: center;
          font-weight: bold;
          font-size: 125px;
          line-height: 149px;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          margin: 0 auto 50px;
        }

        .text8 {
          width: 740px;

          img {
            position: absolute;
            right: 0;
            top: -20px;
            width: 110px;
            height: auto;
          }
        }

        .text9 {
          width: 1030px;
          margin-top: 70px;

          img {
            position: absolute;
            height: auto;
            width: 115px;
            bottom: -50px;
            left: 0;
          }
        }

        .grid-container3,
        .grid-container4 {
          width: 670px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 150px;
          margin: 0 auto;
          color: #fff;

          .logo {
            height: 84px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  section.section4 {
    background-color: #000;

    .content-wrapper {
      .section-content {
        position: relative;
        height: 874px;
        padding-left: 165px;

        .grid {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .text1 {
            max-width: 725px;
            text-align: left;
            font-weight: bold;
            font-size: 68px;
            line-height: 70px;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-bottom: 53px;
            opacity: 1;
          }

          .text2 {
            max-width: 640px;
            text-align: left;
            font-size: 26px;
            line-height: 33px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }

          img {
            position: absolute;
            top: 0;
            right: 0;
            height: 874px;
            width: auto;
          }
        }

      }
    }
  }

  section.section5 {
    background-color: #000;

    .content-wrapper {
      .section-content {

        padding: 150px;

        img {
          width: 207px;
          height: auto;
          margin-bottom: 28px;
        }

        .text1 {
          font-weight: bold;
          font-size: 70px;
          line-height: 89px;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 31px;
        }

        .text2 {
          font-weight: bold;
          font-size: 46px;
          line-height: 59px;
          letter-spacing: 0px;
          color: #FFFD38;
          opacity: 1;
          margin-bottom: 150px;
        }
      }

      .form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;

        img {
          width: 600px;
          height: auto;
        }

        .form {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding-top: 85px;
          gap: 24px;
          width: 542px;

          input {
            border: none;
            background: none;
            width: 539px;
            height: 54px;
            border-bottom: 1px solid #707070;

            text-align: left;
            font-weight: 600;
            font-size: 32px;
            line-height: 41px;
            letter-spacing: 0.67px;
            color: #FFFFFF;
            opacity: 1;

            &::placeholder {
              color: #fff;
            }
          }

          .form-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 77px;

            .submit-button {
              background: #FFFD38 0% 0% no-repeat padding-box;
              border-radius: 32px;
              opacity: 1;
              width: 152px;
              height: 50px;
              cursor: pointer;

              text-align: center;
              font-weight: bold;
              font-size: 30px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
            }

            .form-text {
              text-align: justify;
              font-weight: 600;
              font-size: 15px;
              line-height: 19px;
              letter-spacing: 0.32px;
              color: #FFFFFF;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
