main.homepage {

  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      position: relative;

      .section-content {
        padding: 0 0 0 123px;
        overflow: clip;
        overflow-clip-margin: 0px;

        background: url(/assets/images/home/background.png) no-repeat;
        background-size: cover;

        @media #{$lt-lg} {
          padding: 0;
          width: 100vw;
        }

        .grid {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          @media #{$lg} {
            flex-direction: column;
          }

          @media #{$lt-lg} {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
          }

          .col1 {
            flex: 0 0 46%;

            @media #{$lg} {
              flex: unset;
              padding: 180px 0 20px;
            }

            @media #{$lt-lg} {
              flex: unset;
              padding: 35px;
            }

            .text1 {
              color: #000;
              font-size: 101px;
              font-weight: bold;
              letter-spacing: -4px;
              letter-spacing: 0px;
              line-height: 93px;
              opacity: 1;
              position: relative;
              text-align: left;
              width: 850px;

              .text1-span {
                transform: translateX(-200px);
                display: inline-block;
              }

              @media #{$lg} {
                font-size: prop-size(100, 1180);
                line-height: prop-size(93, 1180);
                padding: 40px 0 20px 0;
              }

              @media #{$md} {
                font-size: prop-size(100, 1180);
                line-height: prop-size(93, 1180);
                padding: 180px 0 0 80px;
              }

              @media #{$lt-md} {
                padding: 68px 0 0 47px;
                font-size: prop-size(100, 800);
                line-height: 40px;
                width: calc(100vw - 70px);
              }

              img {
                width: 795px;
                height: auto;
                position: absolute;
                left: -90px;
                top: -184px;

                transform: translateX(200px);

                @media #{$lt-lg} {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: calc(100vw - 70px);
                }
              }
            }

            .text2 {
              width: 529px;
              text-align: left;
              font-size: 30px;
              line-height: 38px;

              font-size: 24px;
              line-height: 31px;
              letter-spacing: -1.2px;
              color: #212427;

              opacity: 1;
              margin-top: 50px;

              @media #{$lg} {
                margin-top: 0;
              }

              @media #{$md} {
                font-size: prop-size(30, 1180);
                margin-top: 20px;
                margin-left: 80px;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                margin-left: 47px;
                margin-top: 7px;
                max-width: 243px;
              }
            }
          }

          .col2 {
            position: relative;

            @media #{$lt-lg} {
              flex: unset;
              overflow-y: clip;
            }

            .particles {
              position: absolute;
              top: -100px;
              right: -90px;
              z-index: 1;
              transform: translateX(-100px);

              @media #{$lt-lg} {
                height: 385px;
                width: auto;
                right: -66px;
                top: -30px;
              }
            }

            .girl {
              position: relative;
              z-index: 2;
              right: 60px;
              height: 906px;
              width: auto;
              transform: translateX(100px);

              @media #{$lt-lg} {
                width: 100%;
                height: auto;
                top: 0;
                right: -56px;
              }
            }
          }
        }
      }

      .button1 {
        position: absolute;
        bottom: -40px;
        left: calc(50% - 38px);
        cursor: pointer;
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .section-content {
        position: relative;
        z-index: 1;

        .gradient-container {
          background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;
          margin: 194px 58px 60px;
          padding: 60px 0 0;
          position: relative;

          @media #{$lg} {
            margin-top: 40px;
          }

          @media #{$md} {
            margin-top: 58px;
          }

          @media #{$lt-md} {
            margin: 0;
            border-radius: 0;
          }

          .grid {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0 132px 0 111px;
            position: relative;
            z-index: 1;

            @media #{$lt-xl} {
              flex-direction: column;
              align-items: center;
              padding: unset;
            }

            .text1-mobile {
              font-size: 80px;
              line-height: 70px;
              width: 220px;
              text-align: left;
              margin: 0 auto;
              font-weight: 800;

              @media #{$gt-md} {
                display: none;
              }
            }

            .text2-mobile {
              font-size: 11px;
              line-height: 23px;
              width: 220px;
              text-align: left;
              margin: 0 auto 20px;

              @media #{$gt-md} {
                display: none;
              }
            }

            .image-container {
              flex: 0 0 60%;

              img {
                width: 828px;
                height: auto;
                margin-bottom: unset;
                transform: translateX(-200px);

                @media #{$lg} {
                  width: prop-size(828, 1280);
                }

                @media #{$md} {
                  width: prop-size(828, 1180);
                }

                @media #{$lt-md} {
                  width: 267px;
                  height: auto;

                  margin-bottom: 30px;
                }
              }
            }

            .text-container {
              flex: 0 0 40%;

              .text1 {
                text-align: left;
                font-weight: bold;
                font-size: 130px;
                line-height: 160px;
                letter-spacing: -5.2px;
                color: #000000;
                opacity: 1;
                margin-top: 118px;
                transform: translateX(200px);
                opacity: 0;

                @media #{$lt-xl} {
                  // margin-top: 20px;
                  display: none;
                }
              }

              .text2 {
                text-align: left;
                font-size: 40px;
                line-height: 32px;
                letter-spacing: 0px;
                color: #000000;
                margin-bottom: 78px;
                transform: translateX(200px);
                opacity: 0;

                @media #{$lt-xl} {
                  display: none;
                }
              }

              .swiper-container {
                min-width: 0;
                position: relative;

                .perks-swiper {
                  width: 620px;
                  overflow: hidden;
                  margin-bottom: unset;

                  @media #{$md} {
                    width: prop-size(620, 1180);
                  }

                  @media #{$lt-md} {
                    width: 244px;
                    margin-bottom: 50px;
                  }
                }
              }

              .slide {
                .slide-header {
                  text-align: left;
                  font-weight: bold;
                  font-size: 52px;
                  line-height: 67px;
                  letter-spacing: 0px;
                  color: #332D2D;

                  @media #{$md} {
                    font-size: prop-size(52, 1180);
                    line-height: prop-size(67, 1180);
                  }

                  @media #{$lt-md} {
                    font-size: 20px;
                    line-height: 26px;
                  }
                }

                .slide-content {
                  text-align: left;
                  font-size: 24px;
                  line-height: 31px;
                  letter-spacing: 0.5px;
                  color: #332D2D;
                  margin-bottom: 58px;

                  @media #{$md} {
                    font-size: prop-size(24, 1180);
                    line-height: prop-size(31, 1180);
                  }


                  @media #{$lt-md} {
                    font-size: 9px;
                    line-height: 11px;
                    margin-top: 5px;
                    margin-bottom: 38px;
                  }
                }

                .slide-button {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  cursor: pointer;

                  .animated-button {
                    cursor: pointer;

                    @media #{$lt-md} {
                      transform: scale(0.75);
                    }

                    .animated-button-text {
                      font-size: 36px;
                      font-weight: bold;
                    }
                  }

                }
              }
            }
          }
        }

        .gradient-background {
          min-height: 985px;
          background: #f598a9;
          background: linear-gradient(0deg, #f598a9 30%, #ecc9b5 55%, #fcfcfc 100%);
          text-align: center;
          width: 100%;
          left: 0;
          top: 680px;
          z-index: 0;
          overflow-y: clip;

          @media #{$lg} {
            min-height: prop-size(985, 1280);
          }

          @media #{$md} {
            min-height: prop-size(985, 1180);
          }

          @media #{$lt-md} {
            min-height: 523px;
          }

          .cloud-up {
            position: relative;
            top: 340px;
            transform: translateX(-100px);
            height: 581px;

            @media #{$md} {
              top: 240px;
              height: prop-size(581, 1180);
            }

            @media #{$lt-md} {
              top: 240px;
              height: prop-size(581, 430);
            }
          }

          .cloud-container {
            position: relative;
            transform: translateX(-100px);

            .cloud-left,
            .cloud-right {
              position: absolute;
            }

            .cloud-left {
              left: -180px;
              top: 120px;

              @media #{$lt-md} {
                width: 200px;
                top: -340px;
                left: -400px;
              }
            }

            .cloud-right {
              right: -360;
              top: 20px;

              @media #{$lt-md} {
                right: -260px;
                top: -850px;
                width: 200%;
              }
            }
          }
        }
      }
    }
  }

  section.section3 {
    background-color: #141214;
    position: relative;
    overflow-x: clip;

    .content-wrapper {
      .section-content {
        padding: 210px 0 320px;
        text-align: unset;

        @media #{$lt-xl} {
          text-align: center;
          padding: 110px 0 40px;
        }

        .girl-walk {
          position: absolute;
          left: calc(50% - 357px);
          top: -1050px;
          width: 944px;
          height: auto;
          z-index: 1;

          @media #{$lt-xl} {
            width: prop-size(944, 1180);
            left: calc(50% - 240px);
            top: -635px;
          }

          @media #{$lt-md} {
            width: 124%;
            left: calc(50% - 62%);
            top: -536px;
          }
        }

        .amount-image {
          position: absolute;
          top: -210px;
          left: calc(50% - 477px);
          width: 954px;
          height: auto;
          transform: scale(0.5);
          z-index: 5;

          @media #{$lg} {
            width: prop-size(954, 1280);
            top: -160px;
            left: calc(50% - 291px);
          }

          @media #{$md} {
            width: prop-size(954, 1180);
            top: -160px;
            left: calc(50% - 293px);
          }

          @media #{$lt-md} {
            width: 100%;
            top: -65px;
            left: 0;
          }
        }

        .overnight {
          width: 853px;
          height: auto;
          position: absolute;
          left: calc(50% - (853px/2));
          transform: scale(0.5);

          @media #{$lt-xl} {
            width: prop-size(853, 1180);
            position: relative;
            left: unset;
          }

          @media #{$lt-md} {
            width: 338px;
            position: relative;
            left: unset;
          }
        }

        .text1 {
          text-align: center;
          font-weight: bold;
          font-size: 72px;
          line-height: 74px;
          letter-spacing: 0px;
          color: #FFFFFF;

          @media #{$md} {
            font-size: prop-size(72, 1180);
            line-height: prop-size(74, 1180);
          }

          @media #{$lt-md} {
            font-size: 28px;
            line-height: 31px;
          }
        }

        .mobile-only {
          color: #fff;

          &.text2 {
            font-size: 14px;
            line-height: 18px;
            max-width: 52%;
            margin: 0 auto;

            @media #{$md} {
              font-size: calc(14 * 1.5px);
              line-height: calc(18 * 1.5px);
            }

            @media #{$lg} {
              font-size: calc(14 * 1.7px);
              line-height: calc(18 * 1.7px);
            }
          }

          &.text3 {
            font-size: 11px;
            line-height: 14px;
            max-width: 80%;
            margin: 23px auto 0;

            @media #{$md} {
              font-size: calc(11 * 1.5px);
              line-height: calc(14 * 1.5px);
            }

            @media #{$lg} {
              font-size: calc(11 * 1.7px);
              line-height: calc(14 * 1.7px);
            }
          }

          &.text4 {
            font-weight: bold;
            font-size: 30px;
            line-height: 31px;
            max-width: 74%;
            margin: 17px auto 0;

            @media #{$md} {
              font-size: calc(30 * 1.5px);
              line-height: calc(31 * 1.5px);
            }

            @media #{$lg} {
              font-size: calc(30 * 1.7px);
              line-height: calc(31 * 1.7px);
            }
          }
        }
      }
    }
  }

  section.section4 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        position: relative;
        height: 874px;
        padding-left: 165px;

        @media #{$lt-lg} {
          padding-left: unset;
          height: 420px;
        }

        .grid {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          @media #{$lt-lg} {
            flex-direction: column;
          }

          >div:nth-child(1) {
            @media #{$lt-lg} {
              display: none;
            }
          }

          .text1 {
            max-width: 725px;
            text-align: left;
            font-weight: bold;
            font-size: 68px;
            line-height: 70px;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-bottom: 53px;
            opacity: 1;
            z-index: 1;
            position: relative;

            @media #{$lt-lg} {
              display: none;
            }
          }

          .text2 {
            max-width: 640px;
            text-align: left;
            font-size: 26px;
            line-height: 33px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            z-index: 1;
            position: relative;

            @media #{$lt-lg} {
              display: none;
            }
          }

          img {
            position: absolute;
            top: 0;
            right: 0;
            height: 874px;
            width: auto;
            opacity: 0;
            transform: translateX(200px);

            @media #{$lt-lg} {
              height: 420px;
              opacity: 0.5;
              transform: translateX(100px);
            }
          }
        }

      }
    }
  }

  section.section5 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 27px 0 57px;
        text-align: center;

        @media #{$lt-lg} {
          padding: 66px 0 27px;
        }

        .text1 {
          text-align: center;
          font-weight: bold;
          font-size: 100px;
          line-height: 102px;
          letter-spacing: 0px;
          color: #FFFD38;
          max-width: 804px;
          margin: 0 auto 62px;

          @media #{$lt-lg} {
            font-size: 30px;
            line-height: 30px;
            max-width: 60%;
            margin: 0 auto 27px;
          }
        }

        .arrow-down {
          width: 64px;
          height: auto;

          @media #{$lt-lg} {
            width: 20px;
          }
        }

      }
    }
  }

  section.section6 {
    background-color: #141214;

    .content-wrapper {
      .section-content {

        .gradient-container {
          color: #fff;
          margin: 0 58px;
          padding: 40px 100px 100px;
          border-radius: 129px 129px 0px 0px;
          background: rgb(56, 56, 56);
          background: linear-gradient(180deg, rgba(56, 56, 56, 1) 30%, rgba(0, 0, 0, 1) 100%);

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          @media #{$lt-lg} {
            padding: 50px 75px;
            border-radius: 32px 32px 32px 32px;
            margin: 0 15px;
          }

          .coin {
            @media #{$lt-xl} {
              display: none;
            }
          }

          .text1 {
            text-align: left;
            font-size: 70px;
            line-height: 83px;
            letter-spacing: 0px;
            position: relative;
            max-width: 577px;
            margin-bottom: 60px;
            font-weight: 900;

            @media #{$md} {
              margin: 0 auto;
              font-size: prop-size(70, 1180);
              line-height: prop-size(83, 1180);
              margin-bottom: prop-size(60, 1180);
            }

            @media #{$lt-md} {
              font-size: 30px;
              line-height: 34px;
              margin-bottom: 40px;
            }

            .pain-span {
              @media #{$lt-lg} {
                display: inline-block;
                position: relative;
                width: 20px;
                height: 60px;
              }

              .pain-text {
                position: absolute;
                top: -65px;
                right: -80px;

                @media #{$lt-lg} {
                  top: 15px;
                  left: 0;
                  width: 90px;
                  height: auto;
                }
              }
            }
          }

          .text2 {
            text-align: left;
            font-size: 26px;
            line-height: 33px;
            letter-spacing: 0.21px;
            max-width: 698px;

            @media #{$md} {
              font-size: prop-size(26, 1180);
              line-height: prop-size(33, 1180);
              max-width: 577px;
              margin: 0 auto;
            }

            @media #{$lt-md} {
              font-size: 11px;
              line-height: 14px;
            }
          }
        }

      }
    }
  }

  section.section7 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        background-image: url(/assets/images/home/scenario.png);
        background-repeat: no-repeat;
        min-height: calc(968px - 632px - 207px);
        color: #fff;
        padding: 632px 172px 207px;

        @media #{$lt-xl} {
          background-size: contain;
          padding: 420px 172px 207px;
        }

        @media #{$lt-md} {
          background-image: url(/assets/images/home/scenario-sm.png);
          background-size: contain;
          padding: 255px 62px 62px;
        }

        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          @media #{$lt-xl} {
            align-items: center;
          }

          &.gap {
            gap: 124px;

            @media #{$lt-xl} {
              gap: unset;
            }
          }

          &.container {
            @media #{$lt-xl} {
              flex-direction: column;
              gap: 62px;
            }
          }
        }

        .row-items {
          align-self: stretch;
        }

        .col {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          &.stretch {
            @media #{$lt-lg} {
              align-self: stretch;
            }
          }

          .product-logo {
            flex: 0 0 72px;
            display: flex;
            flex-direction: row;
            align-items: center;

            @media #{$lt-lg} {
              flex: 0 0 36px;
            }

            &.interac,
            &.online-banking,
            &.echeque,
            &.visa,
            &.master-card {
              width: 70px;
              height: auto;
              display: inline-block;
              background-position: center !important;
              background-size: cover !important;
              cursor: pointer;

              @media #{$lt-lg} {
                width: 36px;
              }
            }

            &.interac {
              background: url(/assets/images/home/payments-disbursements/interac-bw.png) no-repeat;
            }

            &.interac:hover {
              background: url(/assets/images/home/payments-disbursements/interac.png) no-repeat;
            }

            &.online-banking {
              background: url(/assets/images/home/payments-disbursements/online-banking-bw.png) no-repeat;
            }

            &.online-banking:hover {
              background: url(/assets/images/home/payments-disbursements/online-banking.png) no-repeat;
            }

            &.echeque {
              background: url(/assets/images/home/payments-disbursements/echeque-bw.png) no-repeat;
            }

            &.echeque:hover {
              background: url(/assets/images/home/payments-disbursements/echeque.png) no-repeat;
            }

            &.visa {
              background: url(/assets/images/home/payments-disbursements/visa-direct-bw.png) no-repeat;
            }

            &.visa:hover {
              background: url(/assets/images/home/payments-disbursements/visa-direct.png) no-repeat;
            }

            &.master-card {
              background: url(/assets/images/home/payments-disbursements/mastercard-send-bw.png) no-repeat;
            }

            &.master-card:hover {
              background: url(/assets/images/home/payments-disbursements/mastercard-send.png) no-repeat;
            }
          }

          &.gap {
            gap: 17px;
          }
        }

        .header {
          text-align: left;
          font-size: 70px;
          line-height: 94px;
          letter-spacing: 0px;

          @media #{$lt-lg} {
            font-size: 30px;
            line-height: unset;
          }

          img {
            width: 94px;
            height: auto;

            @media #{$lt-lg} {
              width: 38px;
            }
          }
        }

        .product-name {
          text-align: left;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.1px;

          @media #{$lt-lg} {
            font-size: 6px;
            line-height: 7px;
            letter-spacing: 0.05px;
          }
        }
      }
    }
  }

  section.section8 {
    .content-wrapper {
      .section-content {

        .products-swiper {
          width: 100%;
          height: 275px;
        }

        .product-slide {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 32px;
          height: 100%;
          border-left: 1px solid #707070;

          &:hover {
            background-color: #FFFD38;
          }

          img {
            height: 60px;
            width: auto;
          }

          >div {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0px;
            color: #000000;
          }
        }

      }
    }
  }

  section.section9 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        position: relative;
        color: #fff;
        height: 1080px;
        padding: 0 189px 0 232px;

        @media #{$lg} {
          height: 663px;
        }

        @media #{$lt-lg} {
          padding: 0;
          height: unset;
          display: flex;
          flex-direction: column;
        }

        .background-video {
          position: absolute;
          top: 0;
          left: 0;
          width: 1920px;
          height: auto;
          z-index: 0;

          @media #{$lg} {
            height: 663px;
            width: auto;
          }

          @media #{$md} {
            height: 462px;
            width: auto;
          }

          @media #{$lt-md} {
            position: relative;
            width: auto;
            height: 242px;
            order: 2;
          }
        }

        .dark-layer {
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 1920px;
          height: 1080px;
          opacity: 0.5;

          @media #{$lg} {
            height: 663px;
            width: 100%;
          }

          @media #{$md} {
            height: 462px;
            width: 100%;
          }

          @media #{$lt-md} {
            top: 418px;
            height: 242px;
            width: 100%;
          }
        }

        .col {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          @media #{$md} {
            padding: 35px 38px 35px;
          }

          @media #{$lt-md} {
            order: 1;
            padding: 80px 38px 60px;
          }

          .text1 {
            font-weight: bold;
            font-size: 60px;
            line-height: 66px;
            letter-spacing: -3px;
            margin-bottom: 80px;
            z-index: 2;

            @media #{$lt-xl} {
              font-size: prop-size(60, 1180);
              line-height: prop-size(66, 1180);
              margin-bottom: 50px;
              letter-spacing: 1px;
            }

            @media #{$lt-md} {
              font-size: 27px;
              line-height: 30px;
              margin-bottom: 10px;
              letter-spacing: 1px;
            }
          }

          .text2 {
            font-weight: 600;
            font-size: 227px;
            line-height: 79px;
            letter-spacing: -15.89px;
            margin-bottom: 80px;
            z-index: 2;

            @media #{$lt-xl} {
              font-size: prop-size(227, 1180);
              line-height: 120px;
              letter-spacing: -2px;
              margin-bottom: 60px;
              gap: 50px;
            }

            @media #{$md} {
              margin-bottom: 10px;
            }

            @media #{$lt-md} {
              font-size: 99px;
              line-height: 88px;
              letter-spacing: -2px;
              margin-bottom: unset;
            }

            >div:nth-child(2) {
              @media #{$lt-lg} {
                align-self: flex-end;
              }
            }

            >div:nth-child(1) {
              position: relative;

              &:after {
                content: "";
                background-image: url(/assets/images/home/asterisc.png);
                width: 120px;
                height: 120px;
                position: absolute;
                top: -95px;
                right: -70px;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 0;

                @media #{$lt-lg} {
                  width: 44px;
                  height: 44px;
                  top: -8px;
                  right: -30px;
                }
              }
            }
          }

          .text3 {
            max-width: 522px;
            margin-left: auto;
            font-size: 26px;
            line-height: 33px;
            letter-spacing: -0.78px;
            z-index: 2;

            @media #{$md} {
              font-size: prop-size(26, 1180);
              line-height: prop-size(33, 1180);
              max-width: prop-size(522, 1180);
            }

            @media #{$lt-md} {
              font-size: 11px;
              line-height: 14px;
              max-width: 221px;
              margin-top: 20px;
              margin-left: calc(105px - 38px);
            }
          }

          .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 60px;

            @media #{$lt-xl} {
              flex-direction: column;
              gap: unset;
            }
          }
        }
      }
    }
  }

  section.section10 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 80px 58px 0;

        @media #{$md} {
          padding: 35px 15px 0;
        }

        @media #{$lt-md} {
          padding: 58px 15px 0;
        }

        .pin {
          width: 72px;
          height: auto;
          margin-bottom: 18px;

          @media #{$lt-lg} {
            width: 40px;
            margin-bottom: 35px;
          }
        }

        .text1 {
          font-weight: bold;
          font-size: 70px;
          line-height: 89px;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 5px;

          @media #{$lt-lg} {
            font-size: 1.75rem;
            line-height: 2.25rem;
          }
        }

        .paybilt-for-you {
          width: 652px;
          height: auto;
          margin-bottom: 88px;

          @media #{$lt-lg} {
            width: 240px;
            margin-bottom: 25px;
          }
        }
      }

      .form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;

        border-radius: 129px 129px 0px 0px;
        background: rgb(56, 56, 56);
        // background: linear-gradient(180deg, rgba(56, 56, 56, 1) 30%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(180deg, #383838 30%, #141214 100%);

        @media #{$lt-xl} {
          flex-direction: column;
          border-radius: 32px;
        }

        img {
          width: 600px;
          height: auto;

          @media #{$lt-xl} {
            width: 100%;
          }
        }

        .form {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding: 150px 277px 168px;
          gap: 24px;
          width: 100%;

          @media #{$lt-xl} {
            padding: 45px 62px 52px;
          }

          .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 150px;

            @media #{$lt-xl} {
              flex-direction: column;
              width: calc(100% - 124px);
              gap: 30px;
            }

            input {
              @media #{$lt-xl} {
                width: 100%;
              }
            }
          }

          input {
            border: none;
            background: none;
            width: 100%;
            height: 54px;
            border-bottom: 1px solid #707070;

            text-align: left;
            font-weight: 600;
            font-size: 32px;
            line-height: 41px;
            letter-spacing: 0.67px;
            color: #FFFFFF;
            opacity: 1;

            @media #{$lt-xl} {
              font-size: 12px;
              line-height: 15px;
              width: calc(100% - 124px);
            }

            &::placeholder {
              color: #fff;
            }
          }

          .form-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 77px;
            width: 100%;

            @media #{$lt-xl} {
              flex-direction: column;
              width: calc(100% - 124px);
              gap: 46px;
            }

            .submit-button {
              background: #FFFD38 0% 0% no-repeat padding-box;
              border-radius: 32px;
              opacity: 1;
              width: 338px;
              height: 50px;
              cursor: pointer;

              text-align: center;
              font-weight: bold;
              font-size: 30px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;

              @media #{$lt-xl} {
                font-size: 19px;
                width: 211px;
              }
            }

            .form-text {
              text-align: justify;
              font-weight: 600;
              font-size: 15px;
              line-height: 19px;
              letter-spacing: 0.32px;
              color: #FFFFFF;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
