main.payment-solution {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      .section-content {
        .container1 {
          background: transparent linear-gradient(181deg, #121212 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;

          margin: 100px 63px 0;
          padding: 218px 0 0 124px;
          color: #FFFFFF;
          position: relative;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          min-height: calc(989px - 218px);

          .text1 {
            text-align: left;
            font-weight: bold;
            font-size: 100px;

            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 7px;

            transform: translateX(-100px);
          }

          .text2,
          .text3 {
            width: 622px;
          }

          .text2 {
            text-align: left;
            font-weight: bold;
            font-size: 52px;
            line-height: 56px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 16px;

            transform: translateX(-100px);
          }

          .text3 {
            text-align: left;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }


          img {
            width: 1091px;
            height: auto;
            position: absolute;
            right: 0;
            bottom: 0;
          }

          .ice-cream-image {
            position: absolute;
            width: 112px;
            height: auto;
            right: 786px;
            bottom: 89px;

            transform: scale(0);
          }

          .cassette-image {
            position: absolute;
            width: 269px;
            height: auto;
            right: 112px;
            bottom: -110px;

            transform: scale(0);
          }
        }
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .section-content {
        background-color: #F8F636;
        height: 140px;
        width: 100%;

        padding-left: 200px;

        .container1 {
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 14px;

          text-align: left;
          font-size: 24px;
          letter-spacing: 0.19px;
          color: #212427;
        }
      }
    }
  }

  section.section3 {
    .content-wrapper {
      .section-content {
        padding: 92px 146px 0 259px;

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .col1 {
            display: flex;
            flex-direction: column;

            .text1 {
              width: 632px;
              text-align: left;
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
              margin-bottom: 26px;
            }

            .text2 {
              width: 427px;
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 60px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
              margin-bottom: 30px;
            }

            .text3 {
              width: 444px;
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
            }
          }

          .col2 {
            img {
              width: 100%;
            }
          }
        }

      }
    }
  }

  section.section4 {
    .content-wrapper {
      .section-content {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        opacity: 1;
        margin: 100px 63px 0;

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          padding: 100px 120px;

          .col1,
          .col2,
          .col3 {
            flex: 0 0 358px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            >div:nth-child(2) {
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              letter-spacing: 0px;
              color: #212427;
              margin: 50px 0 37px;
            }

            >div:nth-child(3) {
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #212427;
              opacity: 1;
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          padding: 0 238px 50px 65px;

          .col2 {
            flex: 0 0 575px;

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 56px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
            }

            .text2 {
              margin: 34px 0 45px 0;
            }

            .text2,
            .text3 {
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #212427;
            }
          }
        }
      }
    }
  }

  section.section5 {
    .content-wrapper {
      .section-content {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        opacity: 1;

        margin: 100px 63px 90px;

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          padding: 100px 120px;

          .col1,
          .col2,
          .col3 {
            flex: 0 0 358px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            >div:nth-child(2) {
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              letter-spacing: 0px;
              color: #212427;
              margin: 50px 0 37px;
            }

            >div:nth-child(3) {
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #212427;
              opacity: 1;
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .find-out-button {
            width: 357px;
            height: 64px;

            background: #FFFD38 0% 0% no-repeat padding-box;
            border-radius: 70px;

            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 41px;
            line-height: 64px;
            letter-spacing: 0px;
            color: #333333;
          }
        }
      }
    }
  }

  section.section6 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 170px 138px 50px;

        .container1 {
          color: #FFFFFF;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 70px;

          .col1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 100px;
              line-height: 60px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              // max-width: 795px;

              .built-span {
                position: relative;
                display: inline-block;
                width: 400px;

                .built-image {
                  position: absolute;
                  top: -168px;
                  left: -20px;
                  width: 474px;
                  height: auto;
                  transform: scale(0.5);
                }
              }
            }

            .text2 {
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 70px;
              letter-spacing: 1.09px;
              color: #FFFFFF;
              max-width: 954px;
            }

            .text3 {
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              max-width: 757px;
            }
          }

          .col2 {
            img {
              position: relative;
              top: -80px;
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          margin-bottom: 150px;

          .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 27px;

            .row {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 25px;

              text-align: left;
              font-weight: bold;
              font-size: 24px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }
          }
        }

        .container3 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .use-case-button {
            width: 357px;
            height: 64px;

            background: #FFFD38 0% 0% no-repeat padding-box;
            border-radius: 70px;

            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 41px;
            line-height: 64px;
            letter-spacing: 0px;
            color: #333333;
          }
        }
      }
    }
  }
}
