main.payment-solution {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      .section-content {
        .container1 {
          background: transparent linear-gradient(181deg, #121212 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;

          margin: 100px 63px 0;
          padding: 218px 0 0 124px;
          color: #FFFFFF;
          position: relative;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          min-height: calc(989px - 218px);

          @media #{$lt-md} {
            margin: 19px 14px 0;
            border-radius: 32px 32px 0 0;
            padding: 30px 41px 0;
            flex-direction: column;
            min-height: 650px;
          }

          .text1 {
            text-align: left;
            font-weight: bold;
            font-size: 100px;

            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 7px;

            transform: translateX(-100px);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            @media #{$lt-md} {
              font-size: 50px;
              line-height: 51px;
              justify-content: flex-start;
              transform: unset;
              gap: 10px;

            }

            .works-span {
              display: inline-block;
              width: 374px;
              height: 195px;
              position: relative;

              @media #{$lt-md} {
                width: 144px;
                height: 75px;
              }

              .works-image {
                width: 374px;
                height: auto;

                @media #{$lt-md} {
                  width: 143px;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          .text2,
          .text3 {
            width: 622px;
          }

          .text2 {
            text-align: left;
            font-weight: bold;
            font-size: 52px;
            line-height: 56px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 16px;

            transform: translateX(-100px);

            @media #{$lt-md} {
              font-size: 20px;
              line-height: 22px;
              max-width: 240px;
            }
          }

          .text3 {
            text-align: left;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            @media #{$lt-md} {
              font-size: 11px;
              line-height: 14px;
              max-width: 275px;
            }
          }

          img {
            width: 1091px;
            height: auto;
            position: absolute;
            right: 0;
            bottom: 0;

            @media #{$lt-md} {
              width: 100%;
            }
          }

          .cassette-image {
            position: absolute;
            width: 269px;
            height: auto;
            right: 112px;
            bottom: -110px;

            @media #{$lt-md} {
              display: none;
            }
          }
        }
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .section-content {
        background-color: #F8F636;
        height: 140px;
        width: 100%;

        padding: unset;
        padding-left: 200px;

        @media #{$lt-md} {
          padding: 29px 75px 17px;
          height: unset;
          width: calc(100% - 150px);
        }

        .container1 {
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 14px;

          text-align: left;
          font-size: 24px;
          letter-spacing: 0.19px;
          color: #212427;

          @media #{$lt-md} {
            font-size: 11px;
            line-height: 14px;

            .bold {
              font-size: 12px;
            }
          }

          img {
            width: 79px;
            height: auto;

            @media #{$lt-md} {
              width: 50px;
            }
          }
        }
      }
    }
  }

  section.section3 {
    .content-wrapper {
      .section-content {
        padding: 92px 146px 0 259px;

        @media #{$lt-md} {
          padding: 29px 55px 12px;
        }

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: unset;

          @media #{$lt-md} {
            flex-direction: column;
            align-items: stretch;
            gap: 12px;
          }

          .col1 {
            display: flex;
            flex-direction: column;

            .text1 {
              width: 632px;
              text-align: left;
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
              margin-bottom: 26px;

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: auto;
              }
            }

            .text2 {
              width: 427px;
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 60px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
              margin-bottom: 30px;

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 20px;
                width: auto;
              }
            }

            .text3 {
              width: 444px;
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: auto;
              }
            }
          }

          .col2 {
            img {
              width: 100%;
              height: auto;

              @media #{$lt-md} {
                width: 279px;
              }
            }
          }
        }

      }
    }
  }

  section.section4 {
    .content-wrapper {
      .section-content {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        opacity: 1;
        margin: 100px 63px 0;

        @media #{$lt-md} {
          border-radius: 32px 32px 0 0;
          margin: -90px 14px 0;
        }

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 100px 120px;

          @media #{$lt-md} {
            flex-direction: column;
            padding: 130px 20px 20px;
            align-items: center;
            gap: 41px;
          }

          .col1,
          .col2,
          .col3 {
            flex: 0 0 358px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            @media #{$lt-md} {
              flex: 0 0 auto;
            }

            img {
              width: 87px;
              height: auto;

              @media #{$lt-md} {
                width: 48px;
              }
            }

            >div:nth-child(2) {
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              letter-spacing: 0px;
              color: #212427;
              margin: 50px 0 37px;

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 26px;
                margin: 23px 0 10px;
              }
            }

            >div:nth-child(3) {
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #212427;
              opacity: 1;

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                max-width: 170px;
                text-align: left;
              }
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 238px 50px 65px;

          @media #{$lt-md} {
            flex-direction: column;
            padding: 0;
          }

          .col1 {
            img {
              @media #{$lt-md} {
                width: 100vw;
              }
            }
          }

          .col2 {
            flex: 0 0 575px;

            @media #{$lt-lg} {
              display: none;
            }

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 56px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
            }

            .text2 {
              margin: 34px 0 45px 0;
            }

            .text2,
            .text3 {
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #212427;
            }
          }
        }
      }
    }
  }

  section.section5 {
    .content-wrapper {
      .section-content {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        opacity: 1;

        margin: 100px 63px 90px;

        @media #{$lt-md} {
          margin: -120px 14px 0;
          border-radius: 32px 32px 0 0;
        }

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 100px 120px;

          @media #{$lt-md} {
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 63px 0 0;
          }

          .col {
            flex: 0 0 358px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            @media #{$lt-md} {
              flex: unset;
            }

            .col-header {
              font-size: 20px;
              line-height: 29px;
              width: 222px !important;
            }

            .col-content {
              font-size: 11px;
              line-height: 14px;
              width: 241px !important;
            }

            img {
              @media #{$lt-md} {
                width: 48px;
                height: auto;
              }
            }

            >div:nth-child(2) {
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              letter-spacing: 0px;
              color: #212427;
              margin: 50px 0 37px;

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 26px;
                margin: 20px 0 16px;
              }
            }

            >div:nth-child(3) {
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #212427;
              opacity: 1;

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: 140px;
                text-align: left;
              }
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .find-out-button {
            width: 357px;
            height: 64px;

            background: #FFFD38 0% 0% no-repeat padding-box;
            border-radius: 70px;

            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 41px;
            line-height: 64px;
            letter-spacing: 0px;
            color: #333333;

            @media #{$lt-md} {
              width: 258px;
              height: 46px;

              font-size: 22px;
              line-height: 46px;

              margin: 96px 0 93px;
            }
          }
        }
      }
    }
  }

  section.section6 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 170px 138px 50px;

        @media #{$lt-md} {
          padding: 48px;
        }

        .container1 {
          color: #FFFFFF;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 70px;

          @media #{$lt-md} {
            flex-direction: column;
          }

          .col1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 100px;
              line-height: 60px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;

              @media #{$lt-md} {
                font-size: 39px;
                line-height: 44px;
              }

              .built-span {
                position: relative;
                display: inline-block;
                width: 400px;

                @media #{$lt-md} {
                  width: 110px;
                }

                .built-image {
                  position: absolute;
                  top: -168px;
                  left: -20px;
                  width: 474px;
                  height: auto;
                  transform: scale(0.5);

                  @media #{$lt-md} {
                    top: -50px;
                    left: -10px;
                    width: 141px;
                  }
                }
              }
            }

            .text2 {
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 70px;
              letter-spacing: 1.09px;
              color: #FFFFFF;
              max-width: 954px;

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 24px;
              }
            }

            .text3 {
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              max-width: 757px;

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 13px;
              }
            }
          }

          .col2 {
            img {
              height: auto;
              position: relative;
              top: -80px;

              @media #{$lt-md} {
                width: 100%;
                top: unset;
              }
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          margin-bottom: 150px;

          .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 27px;

            .row {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 25px;

              text-align: left;
              font-weight: bold;
              font-size: 24px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }
          }
        }

        .container3 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .use-case-button {
            width: 357px;
            height: 64px;

            background: #FFFD38 0% 0% no-repeat padding-box;
            border-radius: 70px;

            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 41px;
            line-height: 64px;
            letter-spacing: 0px;
            color: #333333;
          }
        }
      }
    }
  }
}
