main.payment-solution {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      .section-content {
        .container1 {
          background: transparent linear-gradient(181deg, #121212 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;

          margin: 100px 63px 0;
          padding: 218px 0 0 124px;
          color: #FFFFFF;
          position: relative;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          min-height: calc(989px - 218px);

          @media #{$md-lg-xl} {
            border-radius: 6.72vw 6.72vw 0px 0px;
            margin: 5.21vw 3.28vw 0;
            min-height: calc(51.51vw - 11.35vw);
            padding: 11.35vw 0 0 6.46vw;
          }

          @media #{$lt-md} {
            border-radius: 32px 32px 0 0;
            flex-direction: column;
            margin: 19px 14px 0;
            min-height: 480px;
            padding: 30px 41px 0;
          }

          .text1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            transform: translateX(-100px);

            @media #{$lt-md} {
              gap: 10px;
            }

            >div:nth-child(1) {
              color: #FFFFFF;
              font-size: 100px;
              font-weight: bold;
              letter-spacing: 0px;
              margin-bottom: 7px;
              opacity: 1;
              text-align: left;

              @media #{$md-lg-xl} {
                font-size: 5.21vw;
                gap: 1.04vw;
                margin-bottom: 0.36vw;
              }

              @media #{$lt-md} {
                font-size: 11.63vw;
                line-height: 11.86vw;
                justify-content: flex-start;
                transform: unset;
                gap: 10px;
              }
            }

            >div:nth-child(2) {
              .works-image {
                width: 374px;
                height: auto;

                @media #{$md-lg-xl} {
                  width: 14.48vw;
                }

                @media #{$lt-md} {
                  width: 33.26vw;
                }
              }
            }
          }

          .text2,
          .text3 {
            width: 622px;

            @media #{$md-lg-xl} {
              width: 32.4vw;
            }
          }

          .text2 {
            text-align: left;
            font-weight: bold;
            font-size: 52px;
            line-height: 56px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: 16px;

            transform: translateX(-100px);

            @media #{$md-lg-xl} {
              font-size: 2.71vw;
              line-height: 2.92vw;
              margin-bottom: 0.83vw;
              transform: translateX(-5.21vw);
            }

            @media #{$lt-md} {
              font-size: 20px;
              line-height: 22px;
              max-width: 240px;
            }
          }

          .text3 {
            text-align: left;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            @media #{$md-lg-xl} {
              font-size: 1.25vw;
              line-height: 1.61vw;
            }

            @media #{$lt-md} {
              font-size: 11px;
              line-height: 14px;
              max-width: 275px;
            }
          }

          .vip-image {
            width: 1091px;
            height: auto;
            position: absolute;
            right: 0;
            bottom: 0;

            @media #{$md-lg-xl} {
              width: 56.82vw;
              position: relative;
            }

            @media #{$lt-md} {
              width: 100%;
              position: relative;
            }
          }

          .cassette-image {
            position: absolute;
            width: 269px;
            height: auto;
            right: 112px;
            bottom: -110px;

            @media #{$md-lg-xl} {
              width: 14.01vw;
              right: 5.83vw;
              bottom: -5.73vw;
            }

            @media #{$lt-md} {
              display: none;
            }
          }
        }
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .section-content {
        background-color: #F8F636;
        height: 140px;
        width: calc(100% - 200px);

        padding: unset;
        padding-left: 200px;

        @media #{$md-lg-xl} {
          height: 7.29vw;
          padding-left: 10.42vw;
          width: calc(100% - 10.42vw);
        }

        @media #{$lt-md} {
          padding: 29px 75px 17px;
          height: unset;
          width: calc(100% - 150px);
        }

        .container1 {
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 14px;

          text-align: left;
          font-size: 24px;
          letter-spacing: 0.19px;
          color: #212427;

          @media #{$md-lg-xl} {
            gap: 0.73vw;
            font-size: 1.25vw;
            letter-spacing: 0.01vw;
          }

          @media #{$lt-md} {
            font-size: 11px;
            line-height: 14px;

            .bold {
              font-size: 12px;
            }
          }

          img {
            width: 79px;
            height: auto;

            @media #{$md-lg-xl} {
              width: 4.11vw;
            }

            @media #{$lt-md} {
              width: 50px;
            }
          }
        }
      }
    }
  }

  section.section3 {
    .content-wrapper {
      .section-content {
        padding: 92px 146px 0 259px;

        @media #{$md-lg-xl} {
          padding: 4.79vw 7.6vw 0 13.49vw;
        }

        @media #{$lt-md} {
          padding: 29px 55px 12px;
        }

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: unset;

          @media #{$lt-md} {
            flex-direction: column;
            align-items: stretch;
            gap: 12px;
          }

          .col1 {
            display: flex;
            flex-direction: column;

            .text1 {
              width: 632px;
              text-align: left;
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
              margin-bottom: 26px;

              @media #{$md-lg-xl} {
                width: 32.92vw;
                font-size: 1.25vw;
                line-height: 1.61vw;
                margin-bottom: 1.35vw;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: auto;
              }
            }

            .text2 {
              width: 427px;
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 60px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;
              margin-bottom: 30px;

              @media #{$md-lg-xl} {
                width: 22.24vw;
                font-size: 2.71vw;
                line-height: 3.13vw;
                margin-bottom: 1.56vw;
              }

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 20px;
                width: auto;
              }
            }

            .text3 {
              width: 444px;
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;

              @media #{$md-lg-xl} {
                width: 23.13vw;
                font-size: 1.25vw;
                line-height: 1.93vw;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: auto;
              }
            }
          }

          .col2 {
            img {
              width: 635px;
              height: auto;

              @media #{$md-lg-xl} {
                width: 33.07vw;
              }

              @media #{$lt-md} {
                width: 279px;
              }
            }
          }
        }

      }
    }
  }

  section.section4 {
    .content-wrapper {
      .section-content {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        opacity: 1;
        margin: 100px 63px 0;

        @media #{$md-lg-xl} {
          border-radius: 6.72vw 6.72vw 0px 0px;
          margin: 5.21vw 3.28vw 0;
        }

        @media #{$lt-md} {
          border-radius: 32px 32px 0 0;
          margin: -90px 14px 0;
        }

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 100px 120px;

          @media #{$md-lg-xl} {
            padding: 5.21vw 6.25vw;
          }

          @media #{$lt-md} {
            flex-direction: column;
            padding: 130px 20px 20px;
            align-items: center;
            gap: 41px;
          }

          .col1,
          .col2,
          .col3 {
            flex: 0 0 358px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            @media #{$md-lg-xl} {
              flex: 0 0 18.65vw;
            }

            @media #{$lt-md} {
              flex: 0 0 auto;
            }

            img {
              width: 87px;
              height: auto;

              @media #{$md-lg-xl} {
                width: 4.53vw;
              }

              @media #{$lt-md} {
                width: 48px;
              }
            }

            >div:nth-child(2) {
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              letter-spacing: 0px;
              color: #212427;
              margin: 50px 0 37px;

              @media #{$md-lg-xl} {
                font-size: 2.08vw;
                line-height: 2.66vw;
                margin: 2.6vw 0 1.93vw;
              }

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 26px;
                margin: 23px 0 10px;
              }
            }

            >div:nth-child(3) {
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #212427;
              opacity: 1;

              @media #{$md-lg-xl} {
                font-size: 1.25vw;
                line-height: 1.61vw;
                letter-spacing: 0.03vw;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                max-width: 170px;
                text-align: left;
              }
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 238px 50px 65px;

          @media #{$md-lg-xl} {
            padding: 0 12.4vw 2.6vw 3.39vw;
          }

          @media #{$lt-md} {
            flex-direction: column;
            padding: 0;
          }

          .col1 {
            img {
              width: 792px;
              height: auto;

              @media #{$md-lg-xl} {
                width: 41.25vw;
              }

              @media #{$lt-md} {
                width: 100vw;
              }
            }
          }

          .col2 {
            flex: 0 0 575px;

            @media #{$lt-lg} {
              flex: 0 0 29.95vw;
            }

            @media #{$lt-md} {
              display: none;
            }

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 56px;
              letter-spacing: 0px;
              color: #212427;
              opacity: 1;

              @media #{$md-lg-xl} {
                font-size: 2.71vw;
                line-height: 2.92vw;
              }
            }

            .text2 {
              margin: 1.77vw 0 2.34vw 0;

              @media #{$md-lg-xl} {
                margin: 34px 0 45px 0;
              }
            }

            .text2,
            .text3 {
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #212427;

              @media #{$md-lg-xl} {
                font-size: 1.25vw;
                line-height: 1.93vw;
              }
            }
          }
        }
      }
    }
  }

  section.section5 {
    .content-wrapper {
      .section-content {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        opacity: 1;

        margin: 100px 63px 90px;

        @media #{$md-lg-xl} {
          border-radius: 6.72vw 6.72vw 0px 0px;
          margin: 5.21vw 3.28vw 4.69vw;
        }

        @media #{$lt-md} {
          margin: -120px 14px 0;
          border-radius: 32px 32px 0 0;
        }

        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 100px 120px;

          @media #{$md-lg-xl} {
            padding: 5.21vw 6.25vw;
          }

          @media #{$lt-md} {
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 63px 0 0;
          }

          .col {
            flex: 0 0 358px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            @media #{$md-lg-xl} {
              flex: 0 0 18.65vw;
            }

            @media #{$lt-md} {
              flex: unset;
            }

            &.col-mobile {
              @media #{$gt-sm} {
                display: none;
              }
            }

            .col-header {
              font-size: 20px;
              line-height: 29px;
              width: 222px !important;

              @media #{$gt-sm} {
                display: none;
              }
            }

            .col-content {
              font-size: 11px;
              line-height: 14px;
              width: 241px !important;

              @media #{$gt-sm} {
                display: none;
              }
            }

            img {
              width: 87px;
              height: auto;

              @media #{$md-lg-xl} {
                width: 4.53vw;
              }

              @media #{$lt-md} {
                width: 48px;
              }
            }

            >div:nth-child(2) {
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              letter-spacing: 0px;
              color: #212427;
              margin: 50px 0 37px;

              @media #{$md-lg-xl} {
                font-size: 2.08vw;
                line-height: 2.66vw;
                margin: 2.6vw 0 1.93vw;
              }

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 26px;
                margin: 20px 0 16px;
              }
            }

            >div:nth-child(3) {
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #212427;
              opacity: 1;

              @media #{$md-lg-xl} {
                font-size: 1.25vw;
                line-height: 1.61vw;
                letter-spacing: 0.03vw;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: 140px;
                text-align: left;
              }
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .find-out-button {
            width: 357px;
            height: 64px;

            background: #FFFD38 0% 0% no-repeat padding-box;
            border-radius: 70px;

            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 41px;
            line-height: 64px;
            letter-spacing: 0px;
            color: #333333;

            @media #{$md-lg-xl} {
              width: 18.59vw;
              height: 3.33vw;
              border-radius: 3.65vw;
              font-size: 1.67vw;
              line-height: 2.14vw;
              line-height: 3.33vw;
            }

            @media #{$lt-md} {
              width: 258px;
              height: 46px;

              font-size: 22px;
              line-height: 46px;

              margin: 96px 0 93px;
            }
          }
        }
      }
    }
  }

  section.section6 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 170px 138px 50px;

        @media #{$md-lg-xl} {
          padding: 8.85vw 7.19vw 2.6vw;
        }

        @media #{$lt-md} {
          padding: 48px;
        }

        .container1 {
          color: #FFFFFF;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 70px;

          @media #{$md-lg-xl} {
            margin-bottom: 3.65vw;
          }

          @media #{$lt-md} {
            flex-direction: column;
          }

          .col1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;

            @media #{$md-lg-xl} {
              gap: 2.08vw;
            }

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 100px;
              line-height: 60px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;

              @media #{$md-lg-xl} {
                font-size: 5.21vw;
                line-height: 3.13vw;
              }

              @media #{$lt-md} {
                font-size: 39px;
                line-height: 44px;
              }

              .built-span {
                position: relative;
                display: inline-block;
                width: 400px;

                @media #{$md-lg-xl} {
                  width: 20.83vw;
                }

                @media #{$lt-md} {
                  width: 110px;
                }

                .built-image {
                  position: absolute;
                  top: -168px;
                  left: -20px;
                  width: 474px;
                  height: auto;
                  transform: scale(0.5);

                  @media #{$md-lg-xl} {
                    top: -8.75vw;
                    left: -1.04vw;
                    width: 24.69vw;
                  }

                  @media #{$lt-md} {
                    top: -50px;
                    left: -10px;
                    width: 141px;
                  }
                }
              }
            }

            .text2 {
              text-align: left;
              font-weight: bold;
              font-size: 52px;
              line-height: 70px;
              letter-spacing: 1.09px;
              color: #FFFFFF;
              max-width: 954px;

              @media #{$md-lg-xl} {
                font-size: 2.71vw;
                line-height: 3.65vw;
                letter-spacing: 0.06vw;
                max-width: 49.69vw;
              }

              @media #{$lt-md} {
                font-size: 20px;
                line-height: 24px;
              }
            }

            .text3 {
              text-align: left;
              font-size: 24px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              max-width: 757px;

              @media #{$md-lg-xl} {
                font-size: 1.25vw;
                line-height: 1.93vw;
                max-width: 39.43vw;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 13px;
              }
            }
          }

          .col2 {
            img {
              width: 558px;
              height: auto;
              position: relative;
              top: -80px;

              @media #{$md-lg-xl} {
                width: 29.06vw;
                top: -4.17vw;
              }

              @media #{$lt-md} {
                width: 100%;
                top: unset;
              }
            }
          }
        }

        .container2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          margin-bottom: 150px;

          @media #{$md-lg-xl} {
            margin-bottom: 7.81vw;
          }

          .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 27px;

            @media #{$md-lg-xl} {
              gap: 1.41vw;
            }

            .row {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 25px;

              text-align: left;
              font-weight: bold;
              font-size: 24px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;

              @media #{$md-lg-xl} {
                gap: 1.3vw;
                font-size: 1.25vw;
              }
            }
          }
        }

        .container3 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .use-case-button {
            width: 357px;
            height: 64px;

            background: #FFFD38 0% 0% no-repeat padding-box;
            border-radius: 70px;

            text-align: center;
            font-weight: bold;
            font-size: 32px;
            line-height: 64px;
            letter-spacing: 0px;
            color: #333333;

            @media #{$md-lg-xl} {
              width: 18.59vw;
              height: 3.33vw;
              border-radius: 3.65vw;
              font-size: 1.67vw;
              line-height: 2.14vw;
            }
          }
        }
      }
    }
  }
}
