main.products {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      .section-content {
        padding: 116px 0 0 0;
        position: relative;

        @media #{$md-lg-xl} {
          padding: 6.04vw 0 0 0;
        }

        @media #{$lt-md} {
          padding: 0;
        }

        .row {
          display: flex;
          flex-direction: row;
          min-height: 685px;

          @media #{$md-lg-xl} {
            min-height: 35.68vw;
          }

          @media #{$lt-md} {
            flex-direction: column;
            align-items: center;
            min-height: unset;
          }

          .col1 {
            @media #{$lt-md} {
              order: 2;
            }

            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 80px;
              line-height: 85px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
              width: 930px;
              margin-bottom: 35px;
              padding-left: 179px;

              @media #{$md-lg-xl} {
                font-size: 4.17vw;
                line-height: 4.43vw;
                width: 48.44vw;
                margin-bottom: 1.82vw;
                padding-left: 9.32vw;
              }

              @media #{$lt-md} {
                margin: 30px 0 10px;
                font-size: 6.97vw;
                line-height: 28px;
                width: auto;
                padding: 0 12.5vw;
              }

              .line1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                @media #{$lt-md} {
                  justify-content: flex-start;
                }

                >div:nth-child(2) {
                  position: relative;
                  width: 454px;
                  height: 75px;

                  @media #{$md-lg-xl} {
                    width: 23.65vw;
                    height: 3.91vw;
                  }

                  @media #{$lt-md} {
                    width: 33vw;
                    height: 30px;
                  }

                  img {
                    position: absolute;
                    width: 455px;
                    height: auto;
                    bottom: -35px;
                    left: -40px;

                    @media #{$md-lg-xl} {
                      width: 23.7vw;
                      bottom: -1.82vw;
                      left: -2.08vw;
                    }

                    @media #{$lt-md} {
                      left: -10px;
                      bottom: -8px;
                      width: 33vw;
                    }
                  }
                }
              }
            }

            .text2 {
              text-align: left;
              font-size: 26px;
              line-height: 33px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
              width: 668px;
              margin-bottom: 72px;
              padding-left: 179px;

              @media #{$md-lg-xl} {
                font-size: 1.35vw;
                line-height: 1.72vw;
                width: 34.79vw;
                margin-bottom: 3.75vw;
                padding-left: 9.32vw;
              }

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                width: calc(100% - 58px);
                padding: 0 6.9vw;
                text-align: justify;
                margin-bottom: 25px;
              }
            }
          }

          .col2 {
            img {
              position: absolute;
              height: 800px;
              width: auto;
              top: 0;
              right: 20px;

              @media #{$md-lg-xl} {
                height: 41.67vw;
                right: 1.04vw;
              }

              @media #{$lt-md} {
                height: 357px;
                width: auto;
                position: relative;
                top: unset;
                right: unset;
              }

              &.lg {
                @media #{$lt-md} {
                  display: none;
                }
              }

              &.sm {
                display: none;

                @media #{$lt-md} {
                  display: block;
                }
              }
            }
          }
        }


        .buttons-container {
          background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;

          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          column-gap: 30px;
          row-gap: 12px;
          margin: 0 236px;
          padding: 62px 196px;

          @media #{$md-lg-xl} {
            border-radius: 6.72vw 6.72vw 0px 0px;
            column-gap: 1.56vw;
            row-gap: 0.63vw;
            margin: 0 12.29vw;
            padding: 3.23vw 10.21vw;
          }

          @media #{$lt-md} {
            padding: 40px 40px 50px;
            margin: 0 14px;
            grid-template-columns: auto;
            border-radius: 32px 32px 0 0;
            row-gap: 21px;
          }

          .button {
            background: #272727 0% 0% no-repeat padding-box;
            border-radius: 70px;

            // height: 90px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            line-height: 90px;
            letter-spacing: 0.84px;
            color: #FFFFFF;
            background-color: #272727;
            cursor: pointer;

            @media #{$md-lg-xl} {
              border-radius: 3.65vw;
              font-size: 2.08vw;
              line-height: 4.69vw;
              letter-spacing: 0.04vw;
            }

            @media #{$lt-md} {
              font-size: 5.81vw;
              line-height: 13.48vw;
            }

            &.active-button {
              background-color: #F8F636;
              color: #141214;
            }
          }
        }
      }
    }
  }

  section.section2 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 80px 100px;
        color: #fff;

        display: flex;
        flex-direction: row;
        gap: 100px;

        @media #{$md-lg-xl} {
          padding: 4.17vw 5.21vw;
          gap: 5.21vw;
        }

        @media #{$lt-md} {
          padding: 39px 40px;
          flex-direction: column;
        }

        .item {
          cursor: pointer;
        }

        #left-column {
          flex: 0 0 20%;

          @media #{$lt-md} {
            flex: 0 0 100%;
          }

          #left-column-header {
            text-align: left;
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 0px;
            color: #FFFD38;
            opacity: 1;

            @media #{$md-lg-xl} {
              font-size: 2.19vw;
            }

            @media #{$lt-md} {
              display: none;
            }
          }

          #left-column-items {
            text-align: left;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            @media #{$md-lg-xl} {
              font-size: 0.89vw;
            }

            @media #{$lt-md} {
              text-align: center;
            }

            .item {
              padding: 20px 0;
              border-bottom: 1px solid #707070;

              @media #{$md-lg-xl} {
                padding: 1.04vw 0;
              }

              &:first-child {
                padding: 30px 0 20px;

                @media #{$md-lg-xl} {
                  padding: 1.56vw 0 1.04vw;
                }
              }

              &:hover {
                color: #fffd38;
              }

              &.selected {
                color: #FF005F;

                @media #{$lt-md} {
                  color: #fffd38;
                }
              }
            }

            .divider {
              border-top: 1px solid #707070;
            }

            .product-section-mobile {
              background: linear-gradient(180deg, rgba(39, 40, 42, 1) 30%, rgba(20, 18, 20, 1) 100%);
              border-radius: 32px 32px 0 0;
              margin: 18px -18px;
              padding: 31px 54px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: stretch;
              gap: 30px;

              @media #{$gt-sm} {
                display: none;
              }

              >img {
                width: 100%;
                margin: 0 auto;
              }

              .image-header {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                >img {
                  width: 80px;
                  height: auto;
                }

                >div {
                  text-align: left;
                }
              }

              .subheader-text {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
              }

              .description {
                font-size: 11px;
                line-height: 14px;
                text-align: left;
                font-weight: normal;

                .text-indent {
                  text-indent: 12px;
                }

                .header {
                  font-size: 18px;
                  line-height: 40px;
                  font-weight: bold;
                }

                .header2 {
                  font-size: 16px;
                  line-height: 20px;
                  font-weight: 400;
                }
              }

              .description2 {
                font-size: 16px;
                line-height: 20px;
                font-weight: normal;
              }

              .features {
                >div:nth-child(1) {
                  text-align: left;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 40px;
                  letter-spacing: 0px;
                  color: #F50A47;
                }

                >div:nth-child(2) {
                  text-align: left;
                  font-weight: normal;
                  font-size: 11px;
                  line-height: 26px;
                  letter-spacing: 0px;
                  color: #FFFFFF;

                  ul {
                    li {
                      font-size: 11px;
                      line-height: 26px;
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
        }

        .product-section {
          background: linear-gradient(180deg, rgba(39, 40, 42, 1) 30%, rgba(20, 18, 20, 1) 100%);
          border-radius: 78px;

          @media #{$md-lg-xl} {
            border-radius: 4.06vw;
          }

          @media #{$lt-md} {
            display: none;
          }

          .header {
            border-bottom: 1px solid #707070;
            padding: 60px 65px;

            @media #{$md-lg-xl} {
              padding: 3.13vw 3.39vw;
            }

            >div:first-child {
              font-weight: bold;
              font-size: 32px;
              color: #FFFFFF;
              margin-bottom: 24px;

              @media #{$md-lg-xl} {
                font-size: 1.67vw;
                margin-bottom: 1.25vw;
              }
            }

            >div:nth-child(2) {
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #FFFFFF;

              @media #{$md-lg-xl} {
                font-size: 0.94vw;
                line-height: 1.67vw;
              }
            }
          }

          .image-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 40px 48px 40px;
            border-bottom: 1px solid #707070;

            @media #{$md-lg-xl} {
              padding: 2.08vw 2.5vw 2.08vw;
            }

            .header-text {
              font-weight: bold;
              font-size: 32px;
              color: #FFFC30;
              margin-bottom: 25px;

              @media #{$md-lg-xl} {
                font-size: 1.67vw;
                margin-bottom: 1.3vw;
              }
            }

            .subheader-text {
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #FFFFFF;

              @media #{$md-lg-xl} {
                font-size: 0.94vw;
                line-height: 1.67vw;
              }
            }

            >img:nth-child(1) {
              width: 114px;
              height: auto;

              @media #{$md-lg-xl} {
                width: 5.94vw;
              }
            }

            div>div>img {
              width: 114px !important;
              height: auto;

              @media #{$md-lg-xl} {
                width: 5.94vw !important;
              }
            }

            div>img {
              width: 311px;
              height: auto;

              @media #{$md-lg-xl} {
                width: 16.2vw;
              }
            }
          }

          .image-dual-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #707070;

            .header1 {
              flex: 0 0 calc(62% - 96px);
              padding: 40px 48px 40px;
              border-right: 1px solid #707070;

              @media #{$md-lg-xl} {
                flex: 0 0 calc(62% - 5vw);
                padding: 2.08vw 2.5vw 2.08vw;
              }

              .header-text {
                font-weight: bold;
                font-size: 32px;
                color: #FFFC30;
                margin-bottom: 25px;

                @media #{$md-lg-xl} {
                  font-size: 1.67vw;
                  margin-bottom: 1.3vw;
                }
              }

              .subheader-text {
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #FFFFFF;

                @media #{$md-lg-xl} {
                  font-size: 0.94vw;
                  line-height: 1.67vw;
                }
              }

              img {
                width: 114px;
                height: auto;

                @media #{$md-lg-xl} {
                  width: 5.94vw !important;
                }
              }
            }

            .header2 {
              flex: 0 0 calc(38% - 96px);
              padding: 40px 48px 40px;

              font-weight: bold;
              text-align: center;
              font-size: 36px;
              line-height: 52px;
              letter-spacing: 0px;
              color: #FFFFFF;

              @media #{$md-lg-xl} {
                flex: 0 0 calc(38% - 5vw);
                padding: 2.08vw 2.5vw 2.08vw;
                font-size: 1.88vw;
                line-height: 2.71vw;
              }
            }
          }

          .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            &.vertical-content {
              flex-direction: column;
            }

            .features {
              padding: 60px 65px;
              flex: 0 0 calc(50% - 131px);

              @media #{$md-lg-xl} {
                padding: 3.13vw 3.39vw;
                flex: 0 0 calc(50% - 6.82vw);
              }

              >div:nth-child(1) {
                text-align: left;
                font-weight: bold;
                font-size: 32px;
                letter-spacing: 0px;
                color: #F50A47;
                margin-bottom: 85px;

                @media #{$md-lg-xl} {
                  font-size: 1.67vw;
                  margin-bottom: 4.43vw;
                }
              }

              >div:nth-child(2) {
                font-size: 18px;
                line-height: 47px;
                letter-spacing: 0px;
                color: #FFFFFF;

                @media #{$md-lg-xl} {
                  font-size: 0.94vw;
                  line-height: 2.45vw;
                }
              }
            }

            .divider {
              flex: 0 0 1px;
              border-left: 1px solid #707070;
              border-top: 1px solid #707070;
            }

            .description {
              padding: 60px 65px;
              flex: 0 0 calc(50% - 131px);

              font-size: 18px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;

              @media #{$md-lg-xl} {
                padding: 3.13vw 3.39vw;
                flex: 0 0 calc(50% - 6.82vw);

                font-size: 0.94vw;
                line-height: 1.93vw;
              }
            }
          }
        }
      }
    }
  }
}
