main.products {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      .section-content {
        padding: 116px 0 0 0;
        position: relative;

        .row {
          display: flex;
          flex-direction: row;
          min-height: 685px;

          .col1 {
            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 80px;
              line-height: 85px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
              width: 870px;
              margin-bottom: 35px;
              padding-left: 179px;

              .leading-span {
                display: inline-block;
                position: relative;
                height: 150px;
                width: 350px;

                .leading-image {
                  position: absolute;
                  top: 20px;
                  left: -50px;
                  height: 174px;
                  width: auto;
                }
              }
            }

            .text2 {
              text-align: left;
              font-size: 26px;
              line-height: 33px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
              width: 668px;
              margin-bottom: 72px;
              padding-left: 179px;
            }
          }

          .col2 {
            img {
              position: absolute;
              height: 800px;
              width: auto;
              top: 0;
              right: 20px;
            }
          }
        }


        .buttons-container {
          background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;

          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          column-gap: 30px;
          row-gap: 12px;
          margin: 0 236px;
          padding: 62px 196px;

          .button {
            background: #272727 0% 0% no-repeat padding-box;
            border-radius: 70px;

            // height: 90px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            line-height: 90px;
            letter-spacing: 0.84px;
            color: #FFFFFF;
            background-color: #272727;
            cursor: pointer;

            &.active-button {
              background-color: #F8F636;
              color: #141214;
            }
          }
        }
      }
    }
  }

  section.section2 {
    background-color: #000000;
    border-bottom: 1px solid #707070;

    .content-wrapper {
      .section-content {
        padding: 80px 100px;
        color: #fff;

        display: flex;
        flex-direction: row;
        gap: 100px;

        .item {
          cursor: pointer;
        }

        #left-column {
          flex: 0 0 20%;

          #left-column-header {
            text-align: left;
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 0px;
            color: #FFFD38;
            opacity: 1;
          }

          #left-column-items {
            text-align: left;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            .item {
              padding: 20px 0;
              border-bottom: 1px solid #707070;

              &:first-child {
                padding: 30px 0 20px;
              }

              &:hover {
                color: #fffd38;
              }

              &.selected {
                color: #FF005F;
              }
            }
          }
        }

        .product-section {
          border: 1px solid #707070;
          border-radius: 30px;

          #product-header {
            border-bottom: 1px solid #707070;
            padding: 60px 100px;

            #product-header-label {
              text-align: left;
              font-weight: bold;
              font-size: 36px;
              line-height: 40px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }

            #product-header-text {
              text-align: left;
              font-weight: 500;
              font-size: 19px;
              line-height: 39px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }
          }

          #product-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            // padding: 60px 100px;

            #product-content-features,
            #product-content-text {
              flex: 1 0 calc(50% - 150px);
            }

            #product-content-features {
              text-align: left;
              font-size: 19px;
              line-height: 47px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              padding: 60px 50px 60px 100px;

              #product-content-features-header {
                text-align: left;
                font-weight: bold;
                font-size: 36px;
                line-height: 40px;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                padding-bottom: 50px;
              }
            }

            #product-content-text {
              text-align: left;
              font-size: 19px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              padding: 60px 100px 60px 50px;
            }
          }
        }

      }
    }
  }

  section.section3 {
    background-color: #000000;
    border-bottom: 1px solid #707070;

    .content-wrapper {
      .section-content {
        padding: 80px 100px;
        color: #fff;

        display: flex;
        flex-direction: row;
        gap: 100px;

        .item {
          cursor: pointer;
        }

        #left-column {
          flex: 0 0 20%;

          #left-column-header {
            text-align: left;
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 0px;
            color: #FFFD38;
            opacity: 1;
          }

          #left-column-items {
            text-align: left;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            .item {
              padding: 20px 0;
              border-bottom: 1px solid #707070;

              &:first-child {
                padding: 30px 0 20px;
              }

              &.selected {
                color: #fffd38;
              }
            }
          }
        }

        .product-section {
          border: 1px solid #707070;
          border-radius: 30px;

          #product-header {
            border-bottom: 1px solid #707070;
            padding: 60px 100px;

            #product-header-label {
              text-align: left;
              font-weight: bold;
              font-size: 36px;
              line-height: 40px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }

            #product-header-text {
              text-align: left;
              font-weight: 500;
              font-size: 19px;
              line-height: 39px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }
          }

          #product-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            // padding: 60px 100px;

            #product-content-features,
            #product-content-text {
              flex: 1 0 calc(50% - 150px);
            }

            #product-content-features {
              text-align: left;
              font-size: 19px;
              line-height: 47px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              padding: 60px 50px 60px 100px;

              #product-content-features-header {
                text-align: left;
                font-weight: bold;
                font-size: 36px;
                line-height: 40px;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                padding-bottom: 50px;
              }
            }

            #product-content-text {
              text-align: left;
              font-size: 19px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              padding: 60px 100px 60px 50px;
            }
          }
        }

      }
    }
  }
}