main.products {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      .section-content {
        padding: 116px 0 0 0;
        position: relative;

        .row {
          display: flex;
          flex-direction: row;
          min-height: 685px;

          .col1 {
            .text1 {
              text-align: left;
              font-weight: bold;
              font-size: 80px;
              line-height: 85px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
              width: 870px;
              margin-bottom: 35px;
              padding-left: 179px;

              .leading-span {
                display: inline-block;
                position: relative;
                height: 150px;
                width: 350px;

                .leading-image {
                  position: absolute;
                  top: 20px;
                  left: -50px;
                  height: 174px;
                  width: auto;
                }
              }
            }

            .text2 {
              text-align: left;
              font-size: 26px;
              line-height: 33px;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
              width: 668px;
              margin-bottom: 72px;
              padding-left: 179px;
            }
          }

          .col2 {
            img {
              position: absolute;
              height: 800px;
              width: auto;
              top: 0;
              right: 20px;
            }
          }
        }


        .buttons-container {
          background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
          border-radius: 129px 129px 0px 0px;
          opacity: 1;

          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          column-gap: 30px;
          row-gap: 12px;
          margin: 0 236px;
          padding: 62px 196px;

          .button {
            background: #272727 0% 0% no-repeat padding-box;
            border-radius: 70px;

            // height: 90px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            line-height: 90px;
            letter-spacing: 0.84px;
            color: #FFFFFF;
            background-color: #272727;
            cursor: pointer;

            &.active-button {
              background-color: #F8F636;
              color: #141214;
            }
          }
        }
      }
    }
  }

  section.section2 {
    background-color: #141214;
    border-bottom: 1px solid #707070;

    .content-wrapper {
      .section-content {
        padding: 80px 100px;
        color: #fff;

        display: flex;
        flex-direction: row;
        gap: 100px;

        .item {
          cursor: pointer;
        }

        #left-column {
          flex: 0 0 20%;

          #left-column-header {
            text-align: left;
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 0px;
            color: #FFFD38;
            opacity: 1;
          }

          #left-column-items {
            text-align: left;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            .item {
              padding: 20px 0;
              border-bottom: 1px solid #707070;

              &:first-child {
                padding: 30px 0 20px;
              }

              &:hover {
                color: #fffd38;
              }

              &.selected {
                color: #FF005F;
              }
            }
          }
        }

        .product-section {
          background: linear-gradient(180deg, rgba(39, 40, 42, 1) 30%, rgba(20, 18, 20, 1) 100%);
          border-radius: 78px;

          .header {
            border-bottom: 1px solid #707070;
            padding: 60px 65px;

            >div:first-child {
              font-weight: bold;
              font-size: 32px;
              color: #FFFFFF;
              margin-bottom: 24px;
            }

            >div:nth-child(2) {
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #FFFFFF;
            }
          }

          .image-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 48px 10px;
            border-bottom: 1px solid #707070;

            .header-text {
              font-weight: bold;
              font-size: 32px;
              color: #FFFC30;
              margin-bottom: 25px;
            }

            .subheader-text {
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #FFFFFF;
            }

            img {
              width: 311px;
              height: auto;
            }
          }

          .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            &.vertical-content {
              flex-direction: column;
            }

            .features {
              padding: 60px 65px;
              flex: 0 0 calc(50% - 131px);

              >div:nth-child(1) {
                text-align: left;
                font-weight: bold;
                font-size: 32px;
                letter-spacing: 0px;
                color: #FFFFFF;
                margin-bottom: 85px;
              }

              >div:nth-child(2) {
                font-size: 18px;
                line-height: 47px;
                letter-spacing: 0px;
                color: #FFFFFF;
              }
            }

            .divider {
              flex: 0 0 1px;
              border-left: 1px solid #707070;
              border-top: 1px solid #707070;
            }

            .description {
              padding: 60px 65px;
              flex: 0 0 calc(50% - 131px);

              font-size: 18px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
