main.use-cases {
  section.section1 {
    background-color: #141214;

    .content-wrapper {
      .section-content {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 66px 126px 66px 105px;
        color: #fff;

        @media #{$lt-md} {
          padding: 16px 20px 16px;
        }

        .side-menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          @media #{$lt-md} {
            align-items: center;
            width: 100vw;
            margin-bottom: 80px;

            &:not(.mobile) {
              display: none;
            }
          }

          >div {
            cursor: pointer;
            flex: 0 0 85px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 25px;

            text-align: left;
            font-weight: bold;
            font-size: 26px;
            letter-spacing: 0px;
            color: #FFFFFF;
            border-bottom: 1px solid #707070;
            width: 460px;

            @media #{$lt-md} {
              border-bottom: unset;
              font-size: 17px;
              gap: 16px;
              flex: 0 0 60px;
              width: 250px;
            }

            img {
              filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);

              @media #{$lt-md} {
                width: 33px;
                height: auto;
              }
            }

            &.active {
              color: #F50A47;

              img {
                filter: invert(20%) sepia(85%) saturate(6656%) hue-rotate(338deg) brightness(95%) contrast(101%);
              }
            }

            &:hover {
              color: #ffff00;

              img {
                filter: invert(90%) sepia(51%) saturate(3638%) hue-rotate(357deg) brightness(106%) contrast(106%);
              }
            }
          }
        }

        .use-case-container {
          background: linear-gradient(180deg, rgba(39, 40, 42, 1) 30%, rgba(20, 18, 20, 1) 100%);
          border-radius: 78px 78px 0 0;
          flex: 0 0 1080px;

          @media #{$lt-md} {
            flex: 0 0 calc(100vw - 40px);
            border-radius: 32px 32px 0 0;
          }

          .header {
            border-bottom: 1px solid #707070;
            padding: 60px 65px;

            @media #{$lt-md} {
              padding: 25px 35px;
            }

            >div:first-child {
              font-weight: bold;
              font-size: 32px;
              color: #FFFC30;
              margin-bottom: 24px;

              @media #{$lt-md} {
                text-align: center;
                margin-bottom: 10px;
              }
            }

            >div:nth-child(2) {
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #FFFFFF;

              @media #{$lt-md} {
                text-align: center;
                font-size: 16px;
                line-height: 20px;
              }
            }
          }

          .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            @media #{$lt-md} {
              flex-direction: column;
            }

            .features {
              padding: 60px 65px;
              flex: 0 0 calc(50% - 131px);
              order: 2;

              @media #{$lt-md} {
                padding: 25px 35px;
              }

              >div:nth-child(1) {
                text-align: left;
                font-weight: bold;
                font-size: 32px;
                letter-spacing: 0px;
                color: #F50A47;
                margin-bottom: 85px;

                @media #{$lt-md} {
                  font-size: 18px;
                  line-height: 40px;
                  margin-bottom: 33px;
                }
              }

              >div:nth-child(2) {
                font-size: 18px;
                line-height: 47px;
                letter-spacing: 0px;
                color: #FFFFFF;

                @media #{$lt-md} {
                  font-size: 11px;
                  line-height: 26px;
                }
              }

              >div:nth-child(3) {
                display: none;
                text-align: center;

                @media #{$lt-md} {
                  display: block;
                }

                #use-cases-button {
                  cursor: pointer;
                  margin: 70px 0;
                  width: 258px;
                  height: 46px;
                  border-radius: 70px;
                  font-size: 22px;
                  line-height: 28px;
                  color: #333;
                  text-align: center;
                  background-color: #FFFD38;
                }
              }
            }

            .divider {
              flex: 0 0 1px;
              border-left: 1px solid #707070;
            }

            .description {
              padding: 60px 65px;
              flex: 0 0 calc(50% - 131px);

              font-size: 18px;
              line-height: 37px;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;

              @media #{$lt-md} {
                font-size: 11px;
                line-height: 14px;
                padding: 25px 35px;
                flex: unset;
              }
            }
          }
        }
      }
    }
  }
}
