main.why-paybilt {
  section.section1 {
    border-top: 1px solid #707070;

    .content-wrapper {
      background: transparent url(/assets/images/why-paybilt/cloud-background.png) 100% 100% no-repeat padding-box;
      padding: 66px 50px 130px 129px;

      .container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .text1 {
          text-align: left;
          font-weight: bold;
          font-size: 100px;
          letter-spacing: 0px;
          color: #141214;
          opacity: 1;
          margin-bottom: 65px;

          .paybilt-span {
            display: inline-block;
            width: 500px;
            height: 200px;
            position: relative;

            .paybilt-image {
              position: absolute;
              width: 628px;
              height: auto;
              top: 40px;
              left: -30px;
            }
          }
        }

        .header {
          text-align: left;
          font-weight: bold;
          font-size: 52px;
          letter-spacing: 0px;
          color: #212427;
          opacity: 1;
          margin-bottom: 20px;
          max-width: 726px;
          padding-left: 30px;
        }

        .content {
          text-align: left;
          font-size: 24px;
          line-height: 31px;
          letter-spacing: 0px;
          color: #212427;
          opacity: 1;
          margin-bottom: 30px;
          max-width: 726px;
          padding-left: 30px;
        }
      }
    }
  }

  section.section2 {
    .content-wrapper {
      .container1 {
        background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 129px 129px 0px 0px;
        padding: 70px 0 118px;

        .text1 {
          text-align: center;
          font-weight: bold;
          font-size: 100px;
          letter-spacing: 0px;
          color: #141214;
          margin-bottom: 36px;
        }

        .text2,
        .text3 {
          text-align: center;
          font-size: 24px;
          line-height: 38px;
          letter-spacing: 0px;
          color: #141214;
          margin-bottom: 12px;
        }
      }
    }
  }

  section.section3 {
    background-color: #141214;

    .content-wrapper {
      .section-content {
        padding: 100px 305px 0;

        .container1 {
          background: rgb(45,44,45);
          background: linear-gradient(180deg, rgba(45,44,45,1) 30%, rgba(20,18,20,1) 100%);
          border-radius: 129px 129px 0px 0px;
          text-align: center;
          padding: 35px 84px 140px;

          .pin-image {
            width: 95px;
            height: auto;
            margin-bottom: 55px;
          }

          .text1 {
            font-weight: bold;
            font-size: 52px;
            line-height: 67px;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-bottom: 22px;
          }

          .text2 {
            .paybilt-for-you {
              height: 103px;
              width: auto;
              margin-bottom: 74px;
            }
          }

          .form {
            display: flex;
            flex-direction: column;
            margin-bottom: 120px;

            input[type=text] {
              background-color: unset;
              border: unset;

              font-weight: bold;
              font-size: 24px;
              line-height: 31px;
              letter-spacing: 0.5px;
              color: #FFFFFF;
              opacity: 1;

              padding: 20px 0;
              margin-bottom: 45px;
              border-bottom: 1px solid #747474;

              &::placeholder {
                font-weight: bold;
                font-size: 24px;
                line-height: 31px;
                color: #fff;
              }
            }

            .bottom-container {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              color: #fff;

              .slider-container {
                .slider-text {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;

                  text-align: left;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 31px;
                  letter-spacing: 0.5px;
                  margin-bottom: 44px;

                  #slider-amount {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 31px;
                    letter-spacing: 0.5px;
                    color: #EB6151;
                  }
                }

                .slider-control {
                  input[type=range] {
                    -webkit-appearance: none;
                    background-color: #FFFFFF;
                    height: 5px;
                    padding: unset;
                    width: 533px;

                    &::-webkit-slider-thumb {
                      -webkit-appearance: none;
                      appearance: none;
                      width: 33px;
                      height: 33px;
                      border-radius: 50%;
                      background: transparent linear-gradient(207deg, #93EEFF 0%, #FF84D1 65%, #FF6464 100%) 0% 0% no-repeat padding-box;
                      cursor: pointer;
                    }

                    &::-moz-range-thumb {
                      width: 33px;
                      height: 33px;
                      border-radius: 50%;
                      background: transparent linear-gradient(207deg, #93EEFF 0%, #FF84D1 65%, #FF6464 100%) 0% 0% no-repeat padding-box;
                      cursor: pointer;
                    }
                  }
                }
              }

              .submit-button {
                cursor: pointer;
                width: 338px;
                height: 60px;
                background: #FFFD38 0% 0% no-repeat padding-box;
                border-radius: 70px;

                text-align: center;
                font-weight: bold;
                font-size: 32px;
                line-height: 41px;
                letter-spacing: 0px;
                color: #333333;
              }
            }
          }
        }
      }
    }
  }
}
